body {
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(gallery.jpg);
    font-family: Century Gothic;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    height: 200vh;
}
ul{
     float: right;
     list-style-type: none;
     margin-top: 25px;
}
ul li{
    display: inline-block;


}
ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    border-radius: 40px;
    font-size: 18px;

}
ul li a:hover{
    background-color: #009688;
    color: #fff;
}
.logo img{
    float: left;
    width: 250px;
    height: auto;
}
.main{
    max-width: 1400px;
    margin: auto;
}
.title{
    position: absolute;
    top: 20%;
    left:52%;
    transform: translate(-50%,-50%);
    
}

.title h1{
    color: #fff;
    font-size: 53px;
    
}
.title h3{
  position: absolute;
  top: 55%;
  text-align: center;
  left: 30%;
  font-size: 20px;
  color: cyan;
}

.swiper-container {

    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
}

.info h5{
    margin: 0;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.685);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.info span{
    font-size: 15px;
    color: crimson;
    font-weight: bold;
}

.back-bn .bn{
  position: absolute;
  top:115%;
  left: 46%;
  border: 2px solid crimson;
  padding:10px 30px;
  color: white;
  text-decoration: none;
  transition: 0.6s ease;
  border-radius: 40px;
  font-size: 18px;

  }

  .bn:hover {
    background-color: crimson;
  color: #fff;
}

.special h4{
    position: absolute;
    font-size: 30px;
    top: 135%;
    left: 42%;

}

.special h5{
    position: absolute;
    font-size: 35px;
    top: 141%;
    left: 40.6%;
    color:darkred;

}

.special h7{
    position: absolute;
    font-size: 25px;
    top: 160%;
    left: 28.8%;
    color:#000;
    text-align: center;
    word-spacing: 1px;


}

.special img{
    width: 286px;
    height: 315px;;
    position: absolute;
    right: 3.5%;
    border-radius: 100%;
    top:145%;    
}

.touch-button a{
    text-decoration: none;
    position: absolute;
    top: 178.8%;
    left:44.2%;
    padding: 8px 20px;
    border: 2px solid crimson;
    border-color: crimson ;
    background-color: crimson;
    border-radius: 40px;
    font-size: 18px;
    color:#fff;
    letter-spacing: 1.5px;
    transition: 0.7s ease;
}

.touch-button a:hover{
   color: #fff;
   background-color: transparent ;
   
}

footer{
    position: absolute;
    top: 200%;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footer-content h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 17px;

}

.footer-content span{

    text-transform: uppercase;
    opacity: .5;
    font-weight: 200;
}


.socials{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.socials li{
    margin: 0 10px;

}

.socials a{
    text-decoration: none;
    

}

.socials a i{
    font-size: 1.6rem;
    transition:  0.1s ease;
}

.socials a:hover{

    transform: scale(1.6);
    background-color: white;
    color : #000;
}


.socials a:hover i{
      color: #000;

}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 15px 0;
    text-align: center;

}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
